body{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#clock{
    padding: 10px 20px;
    font-size: 100px;
    font-family: 'Courier New', Courier, monospace;
    background-color: rgb(15, 1, 29);
    color: #fff;
    display: inline-block;
}